*{ 
    box-sizing: border-box; 
} 
  
body{ 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0; 
    background-color: #280872; 
} 

.container{ 
    display: flex; 
    flex-basis: wrap; 
    justify-content: center; 
} 
 
.login-box{ 
    margin-top: 150px; 
    flex-basis: 400px; 
    background: #fff; 
    padding: 20px; 
} 
 
.login-box h2{ 
    border-bottom: 1px solid #ccc; 
    color: #555; 
    text-align: center; 
    padding-bottom: 30px; 
    margin: 0px 0px 20px; 
} 
 
input, select{ 
    width: 100%; 
    padding: 15px 20px; 
    margin: 8px 0; 
    border: 1px solid #ccc; 
    border-radius: 25px; 
} 

input[type=submit]{ 
    background-color: #280872; 
    border: none; 
    color: #fff; 
    text-decoration: none; 
    cursor: pointer; 
} 
 
input[type=submit]:hover{ 
    background-color: #330b8f; 
    font-weight: bold; 
} 
 
header{ 
    background: #280872; 
   color: #fff; 
    padding: 15px 20px; 
    font-size: 20px; 
} 
 
aside{ 
    flex: 20%; 
    background: #222; 
} 
 
section.main{ 
    flex:80%; 
    background: #fff; 
    min-height: 530px ; 
    padding: 15px 20px; 
    flex-grow: 1; 
} 
 
footer{ 
    background: #ccc; 
    color: #555; 
    padding: 20px; 
    text-align: center; 
} 
  
@media (max-width: 700px){ 
    .container{ 
        flex-direction: column; 
    } 
} 
 
.menu{ 
     padding: 0; 
} 
 
.menu li{ 
    border-bottom: 1px dotted #444; 
} 
 
.menu a{ 
    display: block; 
    padding: 20px 20px; 
    list-style: none; 
  color: #fff; 
    text-decoration: none; 
} 
 
.menu a:hover{ 
    background: #000; 
} 